.custom-registration-button{
    width: 100%;
    border-radius: 2rem;
}

.centerText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-inc{
    width: 30rem!important;
}

.search-opa{
    background-color: rgba(248, 249, 250, 0.48) !important;
}

.btn-primary{
    --bs-btn-bg: #FC5A8C;
    --bs-btn-border-color: unset!important;
    --bs-btn-hover-bg: #FF3170FF;
}

.link-pink{
    color: #ff8197;

}

.pill-search{
    border-radius: 4rem 0 0 4rem !important;
    background-color: rgba(248, 249, 250, 0.48) !important;

}

.tryThisOut {

    border-radius: 0 4rem 4rem 0;

}

.color-cycling-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Adjust the height as needed */
    background: linear-gradient(90deg, #33ACE3, #98DAF1, #EA6964, #E78C89, #4AB62C, #81CB71); /* Set your six background colors */
    background-size: 600% 100%; /* Adjust the background size based on the number of colors */
    animation: gradientAnimation 10s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}


.image-container {
    position: relative;
    display: inline-block;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Change the color and opacity here */
    opacity: 0; /* Initially, make it fully transparent */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.image-container:hover::before {
    opacity: 1; /* When hovering over the container, make the overlay visible */
}

body {
    background: #FDBCCD!important;
}